<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
            </div>
            <div id="navbar">
                <div class= "hdnavbar" id="home"><a href="index.html"><h2>Home</h2></a></div>
                <div class= "hdnavbar" id="previous"><a href="index.html"><h2>&laquo; Prev</h2></a></div>
                <div class= "hdnavbar" id="next"><a href="NLP2.html"><h2>Next &raquo;</h2></a></div>
                <div class= "hdnavbar" id="apisource"><a href="https://www.meaningcloud.com/developer/apis" target="_blank"><h2>API Source</h2></a></div>
            </div>
        </header>

        <main>
            <section>
                <H1>Language Identification</H1>
                <p>Language Identification automatically detects the language of texts obtained from any source.</p>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onfocus="Client.onFocus()" onblur="Client.onBlur()" placeholder="Phrase">
                    <input id="subBtn" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Footer</p>
        </footer>

    </body>
</html>
